<table>
<tr><td>ID</td><td>Last</td><td>First</td><td>Sex</td><td>Street</td><td>City</td><td>State</td><td>Zip</td><td>DiagCode</td><td>PayerCode</td></tr>
<tr><td>123-45-6789</td><td>Jackson</td><td>Jack</td><td>M</td><td>123 Street St.</td><td>Denton</td><td>TX</td><td>76209</td><td>455</td><td>3</td></tr>
<tr><td>123-45-6788</td><td>Smith</td><td>Sue</td><td>F</td><td>456 Street St.</td><td>Denton</td><td>TX</td><td>76209</td><td>455</td><td>3</td></tr>
<tr><td>123-45-6787</td><td>Jones</td><td>Joe</td><td>M</td><td>789 Drive Dr.</td><td>Denton</td><td>TX</td><td>76209</td><td>122</td><td>2</td></tr>
<tr><td>123-45-6786</td><td>Farmer</td><td>Fanny</td><td>F</td><td>987 Drive Dr.</td><td>Denton</td><td>TX</td><td>76209</td><td>455</td><td>3</td></tr>
<tr><td>123-45-6785</td><td>Sanderson</td><td>Sandy</td><td>F</td><td>222 Road Rd.</td><td>Lewisville</td><td>TX</td><td>75209</td><td>45</td><td>1</td></tr>
<tr><td>123-45-6784</td><td>Gordon</td><td>Gordon</td><td>M</td><td>333 Avenue Ave.</td><td>Lewisville</td><td>TX</td><td>75209</td><td>245</td><td>2</td></tr>
<tr><td></td></tr>
</table>

